<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbw.blueapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.dialogs.TermsAgreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>
        <activity android:name=".activities.UpdatePhoneNumberActivity" />
        <activity android:name=".activities.UserSavedSiteDetailActivity" />
        <activity android:name=".activities.UserSavedSitesActivity" />
        <activity android:name=".activities.SiteDetailActivity" />
        <activity android:name=".activities.UserInfoEditActivity" />
        <activity android:name=".activities.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserInfoActivity" />
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.SignupCompleteActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SplashActivity" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4033065866598276~1975541749" />
    </application>

</manifest>